<!-- singlePost?.title fixes the 'Can not read property of undefined' ERROR -->
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form [formGroup]="form"  (submit)="onSavePost()" *ngIf="!isLoading">
    <!-- Title -->
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Title</mat-label>
      <input
        matInput
        name="title"
        type="text"
        formControlName="title"
      >
      <mat-error *ngIf="!form.get('title').valid && form.get('title').touched ">Enter a Title,4 chars or more!</mat-error>

    </mat-form-field>
    <!-- Content -->
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Content</mat-label>
      <textarea
        matInput
        minlength="4"
        name="content"
        formControlName="content"
      >
      </textarea>
      <mat-error *ngIf="!form.get('content').valid && form.get('content').touched ">Enter a Content more than 4 chars!</mat-error>
    </mat-form-field>

    <div class="container">
      <!-- Save Button-->
      <div class="el1">
        <button
          color="primary"
          mat-raised-button
          type="submit">Save Post
        </button>
      </div>
      <!--Attach Button-->
      <div class="el2">
        <button (click)="filePicker.click()" color="accent" mat-stroked-button>Insert Img</button>
      </div>
    </div>

  </form>
</mat-card>
<input #filePicker type="file">
